.DS_Store
node_modules/
dist/
!/static/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.vscode

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# 、
project.config.json
project.private.config.json
src/config.js
